services:
  - type: web
    name: lostfound-app
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: USE_SQLITE
        value: "false"

databases:
  - name: lostfound-db
    databaseName: lost_found
    user: lostfound_user
    plan: free

